.App {
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.background-silver {
    background-color: rgb(244, 244, 244);
}

.court {
    height: 400px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

.court-background {
    background-image: url("/image/50055964_1956764354443766_7173773502439227392_n.png");
    background-size: cover;
}

.banner {
    position: relative;
}

.logo {
    position: absolute;
    bottom: 0%;
    left: 1%;
}

.edit-banner {
    position: absolute;
    top: 1%;
    right: 0.5%;
    background-color: black;
    text-decoration-color: white;
}

.edit-logo {
    position: absolute;
    right: 0.1%;
    bottom: 0.1%;
}

.card-size {
    height: 300px;
    size: 300px;
}

.btn-web-success {
    background-color: #a71793;
    width: 130px;
    padding: 10px;
    border: #57f2cc;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
}

.btn-web-primary {
    background-color: #5ba5ff;
    width: 130px;
    padding: 10px;
    border: #4596fb;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
}

.btn-web-success:hover {
    background-color: #920980;
}

.btn-web-primary:hover {
    background-color: rgb(40, 124, 226);
}

.header-border {
    background-image: url("/image/line.png");
    height: 5px;
    width: 100%;
    background-repeat: repeat-x;
}

.header-border-table {
    background-image: url("/image/line.png");
    height: 2px;
    width: 100%;
    background-repeat: repeat-x;
}

.header-customer {
    background-image: url("/image/bg-customer.png");
    background-repeat: repeat-x;
}

.product-mouse-over:hover {
    box-shadow: 2px 2px 2px 2px black;
}

.z-index-1 {
    z-index: 1;
}

input[type="file"] {
    display: none;
}

/* chat bot */

body {
    background-color: #fff
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #651FFF
}

.main {
    background-color: #eee;
    width: 350px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 325px
}

.img1 {
    border-radius: 50%;
    background-color: #66BB6A
}

.name {
    font-size: 8px
}

.msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
}

.between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
}

.navbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-control {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none
}

.form-control:focus {
    box-shadow: none;
    overflow: hidden;
    border: none
}

.form-control:focus {
    box-shadow: none !important
}

.icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
}

.icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
}

/*product card*/

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

.sale-title {
    font-weight: bold;
    color: #9966FF;

}

.item-list {
    background-color: #ffffff;
}

.item-list:hover {
    cursor:pointer;
    font-weight: bold;
    color: #c42751;

}
.item-list-select{
    font-weight: bold;
    color: #c42751;
    background-color: #ffffff;

}


.p-0-important .nav-link{
    padding: 0 !important;
}