.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-silver {
  background-color: rgb(237, 236, 232);
}

.court {
  height: 400px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
}

.court-background {
  background-image: url("/image/50055964_1956764354443766_7173773502439227392_n.png");
  background-size: cover;
}

.banner {
  position: relative;
}

.logo {
  position: absolute;
  bottom: 0%;
  left: 1%;
}

.edit-banner {
  position: absolute;
  top: 1%;
  right: 0.5%;
  background-color: black;
  text-decoration-color: white;
}

.edit-logo {
  position: absolute;
  right: 0.1%;
  bottom: 0.1%;
}

.card-size {
  height: 300px;
  size: 300px;
}

.btn-web-success {
  background-color: #a71793;
  width: 130px;
  padding: 10px;
  border: #57f2cc;
  border-radius: 5px;
  color: #fff;
  font-size: larger;
}
.btn-web-primary {
  background-color: #5ba5ff;
  width: 130px;
  padding: 10px;
  border: #4596fb;
  border-radius: 5px;
  color: #fff;
  font-size: larger;
}

.btn-web-success:hover {
  background-color: #920980;
}
.btn-web-primary:hover {
  background-color: rgb(40, 124, 226);
}

.header-border {
  background-image: url("/image/line.png");
  height: 5px;
  width: 100%;
  background-repeat: repeat-x;
}
.header-border-table {
  background-image: url("/image/line.png");
  height: 2px;
  width: 100%;
  background-repeat: repeat-x;
}

.header-customer {
  background-image: url("/image/bg-customer.png");
  background-repeat: repeat-x;
}
